<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

	<div class="container">
		<a class="navbar-brand" href="#">News Scraper Tool</a>

		<div class="" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<button type="button" class="btn btn-info" id="btn-home">Home</button>
				<button type="button" class="btn btn-info" id="btn-saved">Saved Articles</button>
				<button type="button" class="btn btn-danger" id="btn-scrape">SCRAPE!</button>
			</ul>
		</div>

	</div>

</nav>